/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; 
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


*{
	margin: 0;
	padding: 0;
	box-sizing:border-box; /*easier to calculate margins and padding */
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

#title { /* using flexbox to center title within #title */
	width:100%;
	height: 100vh;
	background-image:url("assets/chris-charles-MTh5767B1rs-unsplash.jpg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:2rem;
	flex-direction: column;
	background-size: cover;
	background-position-y: 70%;
	
}


.tint {
	background-color: rgba(0,0,0,.4);
	background-blend-mode: multiply;
  }

#title h1 {
  text-align: center;
  color: white;
  font-size:5em;
  font-weight:800;
}

#title h2 {
	text-align: center;
	color: white;
	font-size:3em;
	font-weight:600;
	margin:1.5rem;
  }

#deforestation-container{
	width:100%;
}


#production-pie-chart {
	background-color: rgba(209, 209, 209, 0.5);
	border-radius: 10px;
	overflow: hidden;    /* hide any content that goes beyond the rounded corners*/
	padding:10px;
	min-height:50vh;
	max-width:35%;
}

#production-pie-chart {
	margin:2em;
	width:50%;
}

#pieText{
	width:100%;
	margin:2em;
	text-align: center;
	flex-direction: column;
}

#pieCard {
	background-color: white;
	margin:2rem 2rem;
	width:100%;
}

.card {
	background-color: white;
	margin:2rem auto; /*auto center on the page*/
	width: 50rem;
	padding: 2rem 2rem;
	border-radius: 10px;
	display:flex;
	flex-direction: row;

}

.cardCol{
	background-color: white;
	margin:2rem auto; /*auto center on the page*/
	width: 50rem;
	padding: 2rem 2rem;
	border-radius: 10px;
	display:flex;
	flex-direction: column;
}

p {
	line-height:120%;
}


.card h2, .cardCol h2 {
	margin-bottom:1rem

}

figcaption{
	text-align:center;
	font-size:0.7em;
}


h1{
	width:100%;
	text-align: center;
	font: weight 900px;;
}

#introWrapperL {
    margin-right: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

}

#introWrapperR figure img{
	width:200px;
}

.fun-fact {
	width:100%;
	background-color: white;
	text-align: center;
	padding: 4em 0;
	color: rgb(158, 44, 44);
	font-weight: bold;
	line-height: 1.2;
}

h2{
	font-weight:bold;
	font-family: Noto Sans;
	
}

h2 a{
	font-weight:bold;
	font-family: Noto Sans;
	color: rgb(158, 44, 44);

}



#intro { /* using flexbox to center title within #title */
	background-image:url("assets/title.jpg");
}
.background{
	width:100%;
	background-image:url("assets/title.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed; /*create somewhat of a parallax scrolling effect to keep reader engaged*/
	display: flex;
	justify-content: center;
	align-items: center ;
	z-index: -1;
	flex-direction: column;
	justify-content: space-between;
	padding: 3em 0;
}

#doubleChloro{
	display:flex; /* to display graphs side by side*/
	justify-content: space-evenly;
}