/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex; /* I feel most confident using flexbox */
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


*{
	margin: 0;
	padding: 0;
	box-sizing:border-box; /*easier to calculate margins and padding */
}

#title { /* using flexbox to center title within #title */
	width:100%;
	height: 100vh;
	background-image:url("assets/title.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; /*create somewhat of a parallax scrolling effect to keep reader engaged*/
	display: flex;
	justify-content: center;
	align-items: center ;
	z-index: -1;
}



#title h1 {
  position: absolute;
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
}


title {
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	filter: none;
}

#deforestation-container{
	width:100%;
}


#production-pie-chart {
	background-color: rgba(209, 209, 209, 0.5);
	border-radius: 10px;
	overflow: hidden;    /* hide any content that goes beyond the rounded corners*/
	padding:10px;
	min-height:50vh;
}

#introText, #production-pie-chart {
	margin:2em;
	width:50%;
}

h1{
	width:100%;
	text-align: center;
}


#doubleChloro{
	display:flex; /* to display graphs side by side*/
	justify-content: space-evenly;
}